@import "variableOverrides.sass";

/* Page Specific CSS for classes added in the Content folder */
.FigureImage__Banner,
.FigureImage__Logo {
  margin: 1em 0;
}
.FigureImage__Banner img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.FigureImage__Logo img {
  width: 100%;
  object-fit: contain;
}
