// Colors
$primary-color: #0b6947
$secondary-color: #a97d5d
$primary-dark: #262626
$secondary-dark: #5c755e
$primary-light: #f9f6e7
$secondary-light: #cecece
// Colors adapted from property documents and https://www.colorcombos.com/color-schemes/79/ColorCombo79.html

// Sizes
$header-logo--width: 215px
$breakpoint--large: 750px
