/*
 * This file contains project overrides for variables defined in the theme.
 *
 * Fonts are imported in `fonts.scss`; font-family variables are defined here.
 *
 * Colors were adapted from property documents and an online theme generator.
 * Online Theme: https://www.colorcombos.com/color-schemes/79/ColorCombo79.html
 */

// Fonts
$font-family--headers: 'Nunito', sans-serif
$font-family--content: 'EB Garamond', serif


// Colors
$primary-color: #4A86CF
$secondary-color: #9B9365
$primary-dark: #3B6BA6
$secondary-dark: #04395E
$primary-light: #f9f6e7
$secondary-light: #cecece


// Layout Overrides
$header-logo--width: 225px


// Shortcodes
$gallery-mini--margin: 0 0.75em 1em


// Breakpoint Overrides
$breakpoint--header: 750px
$breakpoint--content: 940px
